@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

.dark body {
	@apply bg-gray-900 text-white;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

#svelte {
	display: contents;
}
